<nav class="indigo">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Monterey</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if (user.loggedIn) { %>
                <li>Welcome, <%= user.name %></li>
            <% } else { %>
                <li><a href="/login">Sign in</a></li>
            <% } %>
        </ul>
    </div>
</nav>
<% if (locals.error) { %>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card-panel red text-white">
                    <span class="white-text">Error: <%= error %></span>
                </div>
            </div>
        </div>
    </div>
<% } %>
