<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/header.ejs %>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container" id="app">

    <div class="row">
        <div class="col s12">
            <p><a class="btn" href="/jobs">See jobs</a></p>
        </div>
    </div>

    <div class="row">
        <h1>Welcome to the {{name}}!</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="p in people">
                <td>{{p.name}}</td>
                <td>{{p.type}}</td>
                <td>
                    <a class="waves-effect waves-light btn-small indigo" v-if="!p.active" v-on:click="activate(p)">Activate</a>
                    <a class="waves-effect waves-light btn-small orange" v-if="p.active" v-on:click="deactivate(p)">Deactivate</a>
                </td>
                <td><a href="#"><i class="material-icons">add_to_queue</i></a>
                    <a href="#"><i class="material-icons">archive</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="section">
        <div class="row">
            Here comes the content.
        </div>

        <div class="row">
            <div class="col s6">
                <h3>Warning</h3>
                <p>You have been warned.</p>
            </div>
            <div class="col s6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Card Title</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END container -->
</div>

</body>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        created() {
            this.fetchData();
        },
        data: {
            name: 'Monterrey',
            people: []
        },
        methods: {
            fetchData() {
                this.$http.get('/ajax/main/people').then( data => {
                    this.people = data.body.people;
                });
            },
            activate(p) {
                p.active = true;
            },
            deactivate(p) {
                p.active = false;
            }
        }
    });
</script>


</html>
